[submodule "milkv-zsbl"]
	path = milkv-zsbl
	url = git@github.com:antonislouca/milkv-zsbl.git
[submodule]
	keystone-milkv = sg2042-dev-b
[submodule "keystone-milkv-pioneer"]
	path = keystone-milkv-pioneer
	url = git@github.com:antonislouca/keystone-milkv-pioneer.git
