[submodule "keystone-milkv"]
	path = keystone-milkv
	url = git@github.com:antonislouca/keystone-milkv.git
[submodule "milkv-zsbl"]
	path = milkv-zsbl
	url = git@github.com:antonislouca/milkv-zsbl.git
[submodule]
	keystone-milkv = sg2042-deb-b
